* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  list-style: none;
  list-style-type: none;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

:root {
  --background: #0a142f;
  --foreground: #ededed;
}
html {
  min-height: 100vh;
  width: 100%;
  background-color: #0a142f;
}
body {
  background-color: #0a142f;
  color: var(--foreground);
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}
